#root {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
  transition: all 1s ease-in-out;
}
.flex {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
div,
section,
article {
  transition: all 0.5s ease-in-out;
}
.mainApp {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 100vh;
  justify-content: space-between;
  > img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    object-position: center;
  }
}
.header {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-weight: 600;
  overflow-x: scroll;
}
.navicon {
  display: flex;
  flex-direction: column;
  .icon {
    font-size: 48px;
  }
}
.naviconlist {
  display: flex;
  position: absolute;
  top: 3.5rem;
  width: 200px;
  flex-direction: column;
  gap: 2rem;
  background-color: white;
  color: black;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0.1px 0.1px 8px 0.1px green inset;
  z-index: 10;
  animation: fadeOut 0.5s ease-in forwards;
}
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-sizing: border-box;
  padding: 0 1rem;
}
.fooup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  padding: 0.5rem 2rem;
}
.fooupleft {
  h1 {
    font-size: 30px;
  }
}
.fooupright {
  display: flex;
  gap: 1rem;
  a {
    font-weight: bold;
  }
}
.foodown {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 1rem;
}
.hesec1,
.hesec2,
.hesec3 {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.hesec1 {
  img {
    width: 4rem;
  }
}
a {
  color: unset;
  text-decoration: unset;
}
.login {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  gap: 1rem;
  background-color: white;
  color: black;
  border-radius: 2rem;
  padding: 1rem;
  h1 {
    color: red;
    font-size: 40px;
  }
  transform-origin: center;
  /* transform: translateY(15%); */
}
.loginemail,
.loginpassword {
  display: flex;
  width: 90%;
  flex-direction: column;
  gap: 0.2rem;
  input {
    width: 100%;
    border: 1px solid rgb(188, 185, 185);
    border-radius: 2rem;
    padding: 1rem;
    margin-left: 0.5rem;
    background-color: white;
    color: black;
    font-size: larger;
  }
}
.passworddiv {
  position: relative;
  display: flex;
  align-items: center;
}
.password_hidden_icon {
  position: absolute;
  right: 8px;
  .icon {
    padding-top: 0.4rem;
  }
}
.icon {
  cursor: pointer;
  font-size: 32px;
}
.loginextras {
  width: 75%;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  gap: 1rem;
}
.loginbutton {
  position: relative;
  background-color: green;
  border-radius: 2rem;
  padding: 1rem 5rem;
}
@media screen and (min-width: 1080px) {
  .login {
    width: 33%;
  }
}
@media screen and (min-width: 680px) {
  .login {
    width: 75%;
  }
  .fooup {
    flex-direction: row;
  }
  .footer {
    padding: 0 2rem;
  }
  .header {
    padding: 1rem 5rem;
  }
}
@media screen and (min-width: 850px) {
  .login {
    width: 50%;
  }
  .header {
    justify-content: space-around;
    padding: 1rem;
  }
}
@media screen and (min-width: 1080px) {
  .login {
    width: 33%;
  }
}
.noscrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.error {
  display: none;
  text-align: center;
  color: red;
}
.loader {
  display: none;
  position: absolute;
  right: 0;
  aspect-ratio: 1;
  margin: 1rem;
  height: 30px;
  width: 30px;
  background-color: transparent;
  border-top: 4px solid white;
  border-left: 4px solid green;
  border-bottom: 4px solid blue;
  border-right: 4px solid red;
  border-radius: 50%;
  animation: rotate 0.5s linear 0s infinite normal none;
}
.cross {
  color: red;
  font-size: 24px !important;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
