#root {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
  /* transition: all 1s ease-in-out; */
}
.flex {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
div,
section,
article {
  transition: all 0.5s ease-in-out;
}
.mainApp {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  > img {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    object-position: center;
  }
}
.header {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-weight: 600;
  overflow-x: scroll;
}
.navicon {
  display: flex;
  flex-direction: column;
  .icon {
    font-size: 48px;
  }
}
.naviconlist {
  display: flex;
  position: absolute;
  top: 3.5rem;
  width: 200px;
  flex-direction: column;
  gap: 2rem;
  background-color: white;
  color: black;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0.1px 0.1px 8px 0.1px green inset;
  z-index: 10;
  animation: fadeOut 0.5s ease-in forwards;
}
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-sizing: border-box;
  padding: 0 1rem;
  color: white;
}
.fooup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  padding: 0.5rem 2rem;
}
.fooupleft {
  h1 {
    font-size: 30px;
  }
}
.fooupright {
  display: flex;
  gap: 1rem;
  a {
    font-weight: bold;
  }
}
.foodown {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 1rem;
}
.hesec1,
.hesec2,
.hesec3 {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.hesec1 {
  img {
    width: 4rem;
  }
}
a {
  color: unset;
  text-decoration: unset;
}
.login {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  gap: 1rem;
  background-color: white;
  color: black;
  border-radius: 2rem;
  padding: 1rem;
  h1 {
    color: red;
    font-size: 40px;
  }
  transform-origin: center;
  /* transform: translateY(15%); */
}
.loginemail,
.loginpassword {
  display: flex;
  width: 90%;
  flex-direction: column;
  gap: 0.2rem;
  input {
    width: 100%;
    border: 1px solid rgb(188, 185, 185);
    border-radius: 2rem;
    padding: 1rem;
    margin-left: 0.5rem;
    background-color: white;
    color: black;
    font-size: larger;
  }
}
.passworddiv {
  position: relative;
  display: flex;
  align-items: center;
}
.password_hidden_icon {
  position: absolute;
  right: 8px;
  .icon {
    padding-top: 0.4rem;
  }
}
.icon {
  cursor: pointer;
  font-size: 32px;
}
.loginextras {
  width: 75%;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  gap: 1rem;
}
.loginbutton {
  position: relative;
  background-color: green;
  border-radius: 2rem;
  padding: 1rem 5rem;
}
.laguageSec {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  img {
    width: 30px;
    height: 20px;
  }
}
.lsdefault {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.languageSwitcher {
  position: absolute;
  top: 4.5rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  align-self: center;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 3px 8px 0.1px black;
  gap: 1rem;
  animation: fadeOut 0.5s ease-in forwards;

  .lang {
    display: grid;
    grid-template-columns: 65px 1fr;
    gap: 0.5rem;
    align-items: center;
    cursor: pointer;
    p {
      margin: 0;
      font-weight: lighter;
    }
  }
  .lang:hover {
    color: blue;
  }
}
.terms {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  h1 {
    color: white;
    margin: 0;
    font-size: 32px;
  }
  button {
    background-color: #089e1e;
    padding: 1rem 3rem;
    border-radius: 2rem;
    border: none;
  }
  article {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    p {
      font-size: 14px;
      margin: 0;
      color: rgba(0, 0, 0, 0.6);
    }
  }
}

.inHome {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  width: 100%;
  height: 100vh;
  background-color: white;
}
.inHomeLeft {
  width: fit-content;
  white-space: nowrap;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  z-index: 50;
  a {
    font-weight: lighter;
  }
  > strong {
    font-size: 28px;
    text-align: center;
    border-bottom: 1px solid blue;
  }
  box-shadow: 0px 0px 1px black;
}
.inHomeRight {
  width: 100%;
  overflow: hidden;
}
.menuListItem {
  display: flex;
  gap: 0.5rem;
  justify-content: start;
  align-items: center;
  .icon {
    font-size: 24px;
  }
}
.PriceList {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.PriceListUp {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}
.searchArea {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.searchArticle,
.searchProduct {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  input {
    width: 100%;
    padding: 0.8rem;
    border-radius: 2rem;
    border: 1px solid rgb(234, 224, 224);
    background-color: white;
    font-size: medium;
  }
  .icon {
    position: absolute;
    color: rgb(0, 183, 255);
    right: 5px;
  }
}
.btnset {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.btnset1,
.btnset2,
.btnset3 {
  border: 1px solid rgb(234, 224, 224);
  box-shadow: 0.1px 0.1px 10px 1px rgb(234, 224, 224);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 3rem;
  border-radius: 2rem;
  white-space: nowrap;
  gap: 1rem;
  span {
    display: none;
  }
  .icon {
    font-size: 32px;
  }
}
.pageData {
  padding: 1rem;
  width: 100%;
  gap: 1rem;
  border-spacing: 1rem;
  font-size: medium;
  overflow: hidden;
}
.pageDataHead {
  white-space: nowrap;
  td,
  input {
    font-weight: bold;
    font-size: large;
  }
}
.pageDataBody {
  tr td input {
    width: 100%;
    border: none;
    border-radius: 1rem;
    border: 1px solid rgb(234, 224, 224);
    padding: 0.5rem 1rem;
  }
  .icon {
    font-size: 16px;
    color: rgb(0, 183, 255);
  }
}
.updatePopup {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background-color: rgb(0, 183, 255);
  color: white;
  animation: fadeOut 0.5s ease-in forwards;

  button {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    color: black;
    font-size: 16px;
    border: none;
  }
}
.Inheader {
  padding: 1rem 3rem;
  color: white;
  background-color: rgb(0, 183, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.DirectThem {
  display: flex;
  width: 100%;
  padding: 1rem;
  justify-content: center;
  gap: 0.3rem;
  a {
    color: blue;
  }
}
.proimg {
  border: 2px solid white;
  padding: 0.5rem;
  border-radius: 100%;
  aspect-ratio: 1/1;
}
.userdetail {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  animation: fadeOut 1s ease;
}
.userinfo {
  display: flex;
  flex-direction: column;
  p,
  span {
    margin: 0;
    font-size: 12px;
  }
}
.userlanguage {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  img {
    width: 30px;
    height: 20px;
  }
}

@media screen and (min-width: 480px) {
  .btnset {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 680px) {
  .login {
    width: 75%;
  }
  .fooup {
    flex-direction: row;
  }
  .footer {
    padding: 0 2rem;
  }
  .header {
    padding: 1rem 5rem;
  }
}
@media screen and (min-width: 850px) {
  .login {
    width: 50%;
  }
  .header {
    justify-content: space-around;
    padding: 1rem;
  }
  .PriceListUp {
    flex-direction: row;
  }
  .searchArea {
    width: 75%;
  }
  .btnset {
    align-items: start;
    justify-content: flex-end;
    gap: 4rem;
  }
  .terms {
    article {
      max-width: 850px;
    }
  }
}
@media screen and (min-width: 1080px) {
  .login {
    width: 33%;
  }
  .btnset {
    gap: unset;
    padding: unset;
    gap: 1rem;
  }
  .btnset1,
  .btnset2,
  .btnset3 {
    padding: unset;
    padding: 0.5rem;
    span {
      display: flex;
    }
  }
}
@media screen and (max-width: 1080px) {
  .inHomeLeft {
    position: absolute;
    z-index: 50;
    background-color: white;
  }
}
.noscrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}
td::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.error {
  display: none;
  text-align: center;
  color: red;
}
.loader {
  display: none;
  position: absolute;
  right: 0;
  aspect-ratio: 1;
  margin: 1rem;
  height: 30px;
  width: 30px;
  background-color: transparent;
  border-top: 4px solid white;
  border-left: 4px solid green;
  border-bottom: 4px solid blue;
  border-right: 4px solid red;
  border-radius: 50%;
  animation: rotate 0.5s linear 0s infinite normal none;
}
.cross {
  color: red;
  font-size: 24px !important;
}
button {
  cursor: pointer;
  color: white;
  font-size: large;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
